body{
    background-color: darksalmon;
}
h1{
background-color: burlywood;
}
h3{
    background-color: crimson;
}
p{
    background-color:darkseagreen;
    font-size: larger;
}
ol li{
    background-color:darkseagreen ;
    font-size:larger;
}
h4{
    background-color:burlywood;
}